body {
    font-family: Arial;
    background: #f4f4f4;
    padding: 40px;
}

h2 {
    text-align: center;
}

.input-area,
.filter-area {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 15px;
}

input,
select,
button {
    padding: 8px;
}

table {
    width: 700px;
    margin: auto;
    border-collapse: collapse;
    background: white;
}

th,
td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

th {
    background: #4CAF50;
    color: white;
    cursor: pointer;
}

.low {
    background: yellow;
}

.delete-btn {
    background: red;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}